<h3><%= @dessert.name %></h3>
<h6>Description:</h6>
<%= @dessert.description %>

  <% if @dessert.user == current_user %>
  <%= button_to 'Edit', edit_dessert_path(@dessert), method: :get, class: "button" %>
  <% end %>

<%= button_to 'Add a Review', new_dessert_review_path(@dessert), method: :get, class: "button" %>

<h3>Reviews on <%= @dessert.name %>:</h3>
  <ul>
    <% @reviews.each do |review| %>
    <li><%= review.body %></li>
  </ul>
  <table>
    <% if current_user.present? %>
      <div id="vote-div">
        <tr><%= link_to image_tag('cupcake.png'), upvote_review_votes_path(review), class: :upvote %></tr>
        <tr><%= link_to image_tag('downvote.png'), downvote_review_votes_path(review), class: :downvote %></tr>
      </div>
    <% end %>
    <div class= 'vote-total'>
      <tr><%= @vote_total[review.id] %></tr>
    </div>
  </table>

      <% if @review.user == current_user %>
      <td><%= link_to 'Edit', edit_dessert_path(@dessert, review.id), method: :patch, class: :button %></td>
      <td><%= link_to 'Delete', dessert_path(@dessert, review), method: :delete, class: :button, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  <% end %>
<br>
<%= link_to 'Back', desserts_path, class: :button %>
